*{
    font-family: system-ui;
}

body{
    font-family:'Lucida sans'; 
    background-image: linear-gradient(180deg, #0076E6, #e66f00);
    background-attachment: fixed;
}

.logo{
    text-align: center;
    color: white;
}
.logo p{
    color:rgba(255, 255, 255, 0.548)
}

.logo img{
    width: 100px;
    height: 100px;
}

.logo h1{
    font-size: 2 rem;
}
.menu ul{
    list-style-type:none;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.menu a{
    color:white;
    text-decoration: none;
    background-repeat: no-repeat;
    padding: 7px 10px;
    display: block;
    text-align: center;
}
.menu a:hover{
    background-color: #e66f00
}
.menu li{
    margin: 0px 10px;
}

@keyframes move {
    100%{
        transform: translate3d(0,0,1px) rotate(360deg);
    } 
}

.hero{
    margin: 2vh auto 2vh;
    position: relative;
    height: 80vh; 
    overflow: hidden;
    background-color: rgba(111, 0, 230, 0.2);
    border-radius: 30vh;
    display:flex;
    justify-content: center;
    align-items: center; 
    text-align: center; 
    width: 100%;
    flex-direction: column;
}

.heroh1{
    font-size: 5rem;
    color: white;
    text-shadow: 0 0 15px rgba(255, 135, 37, 0.5);
    margin: 0; 
    padding: 0; 
    display: inline-block; 
    transition: transform 0.3s ease;
}

.hero hr {
    width: 40%;
    height: 1px; 
    background-color: #fff; 
    border: none; 
    margin: 10px auto; 
    border-radius: 5px; 
}
.herop{
    color:white;
    font-size:large;
}
.fundobol{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.bola {
    position: absolute;
    width: 20vmin;
    height: 20vmin;
    border-radius: 50%;
    backface-visibility: hidden;
    animation: move linear infinite;
    opacity: 0.7;
}

.bola:nth-child(odd){
    color: aquamarine;
}

.bola:nth-child(even){
    color:orangered;
}

.bola:nth-child(1){
    top:77%;
    left: 88%;
    animation-duration: 40s;
    animation-delay:-3s;
    transform-origin: 16vm -2vh;
    box-shadow: 40vmin 0 5.70376368487546vmin currentColor;
}

.bola:nth-child(2){
    top:42%;
    left: 2%;
    animation-duration: 53s;
    animation-delay:-29s;
    transform-origin: -19vm 21vh;
    box-shadow: 40vmin 0 5.17594621519026vmin currentColor;
}

.bola:nth-child(3){
    top:28%;
    left: 18%;
    animation-duration: 49s;
    animation-delay:-8s;
    transform-origin: -22vm 3vh;
    box-shadow: 40vmin 0 5.17594621519026vmin currentColor;
}

.bola:nth-child(4) {
    top: 50%;
    left: 79%;
    animation-duration: 26s;
    animation-delay: -21s;
    transform-origin: -17vw -6vh;
    box-shadow: 40vmin 0 5.279749632220298vmin currentColor;
}
.bola:nth-child(5) {
    top: 46%;
    left: 15%;
    animation-duration: 36s;
    animation-delay: -40s;
    transform-origin: 4vw 0vh;
    box-shadow: -40vmin 0 5.964309466052033vmin currentColor;
}
.bola:nth-child(6) {
    top: 77%;
    left: 16%;
    animation-duration: 31s;
    animation-delay: -10s;
    transform-origin: 18vw 4vh;
    box-shadow: 40vmin 0 5.178483653434181vmin currentColor;
}
.bola:nth-child(7) {
    top: 22%;
    left: 17%;
    animation-duration: 55s;
    animation-delay: -6s;
    transform-origin: 1vw -23vh;
    box-shadow: -40vmin 0 5.703026794398318vmin currentColor;
}
.bola:nth-child(8) {
    top: 41%;
    left: 47%;
    animation-duration: 43s;
    animation-delay: -28s;
    transform-origin: 25vw -3vh;
    box-shadow: 40vmin 0 5.196265905749415vmin currentColor;
}


.secao{
    background-color: rgba(111, 0, 230, 0.2);
    padding: 10px;
    align-items: center;
    margin: 2vh auto 2vh auto;
}
.secao-conteudo{
    min-height: 90vh;
    max-height: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rm;
    flex-direction: row;
}

.conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    flex: 1;
}
.subtitulo{
    letter-spacing: 2px;
    color: var(--text-light);
    font-weight: 600;
    margin-bottom: .5rem;
}

.titulo{
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--text-dark);
    margin-bottom: 1rem;
}

.titulo span{
    font-weight: 600;
}
.descricao{
    line-height: 1.5rem;
    color: rgba(14, 14, 14, 0.87);
    margin-bottom: 2rem;
    font-weight: 400;
}

.imagem{
    display: flex;
    justify-content: center;
    place-items:center;
    flex: 0 0 auto;
}
.imagem img{
    width: min(40rem,50%);
    border-radius:100%;
}
.secao-conteudo{
    padding:(10rem 1rem 5rem 1rem);

}

@media screen and (max-width: 768px) {
    .subtitulo{
        flex-direction: column;
        text-align: center;
    }
    .secao-conteudo {
        flex-direction: column; 
        text-align: center;
    }
    .titulo{
        flex-direction: column;
        text-align: center;
    }
    .descricao{
        flex-direction: column;
        text-align: center;
    }
}
.imagem{
    margin-bottom: 2rm;
}

.galeria{
    width: 70%;
    height: 90vh;
    margin: 50px auto 100px auto;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 50px;
}

.galeria img{
    width: 300px;
    height: 300px;
    cursor: pointer;
    object-fit: cover;
    border-radius: 30px;
}

.img-aberta{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.img-aberta img{
    width: 90%;
    max-width: 450px;
}

.img-aberta span{
    position: absolute;
    top:5%;
    right:5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.contato{
    max-width: 550px;
    width: 90%;
    background: #fff;
    margin: 2vh auto 2vh auto;
    padding: 40px;
    border-radius: 3px;
    box-sizing: border-box;
    justify-content: center;
}

.contato h1{
    margin: 0;
    text-align: center;
}

.contato input, textarea, button{
    margin: 25px 0;
    width:100%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: none;
    border-bottom: 1px solid #d3d3d3;
}

input[type="text"]:focus, textarea:focus{
    border-bottom: 1px solid #0076E6;
}

textarea::-webkit-scrollbar{
    width:4px;
}

textarea::-webkit-scrollbar-thumb{
    background-color:#0076E6;
}

button[type="submit"]{
    background: linear-gradient( to right, #56adff, #ff922d);
    cursor: pointer;
    color: white;
    font-size: 17px;
    font-weight: 500;
    border-radius: 50px;
}
